@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,800");
@import url("https://fonts.googleapis.com/css?family=Oswald:700");
.gradient:after {
  content: '';
  clear: both;
  display: table; }

.gradient span {
  float: left;
  height: 10px;
  width: calc(100% / 6); }
  .gradient span:first-child {
    background: #65cad7; }
  .gradient span:nth-child(2) {
    background: #54acd2; }
  .gradient span:nth-child(3) {
    background: #909398; }
  .gradient span:nth-child(4) {
    background: #54acd2; }
  .gradient span:nth-child(5) {
    background: #f3f4f3; }
  .gradient span:last-child {
    background: #c92427; }
