#mod {
  background:$light-blue;
  color:white;
  .row {
    position:relative;
  }
   h2:first-of-type {
    @include border_accent;
    &:after {
      background:White;
    }
    margin-bottom:.8em;
    &:after {
      bottom:-1.5em;
      @media (max-width:$tablet-down) {
        bottom:-.8em;
      }
    }
  }
  .btn-custom {
    margin-top:5em;
    background:$orange;
    &:hover {
      background:$dark-blue !important;
    }
    @media (max-width:$tablet-down) {
      margin-top:2em;
      position:absolute;
      bottom:0px;
      left:0;
      right:0;
      width:100%;
    }
  }
  @include headings {
    color:white;
  }
  .container {
    position:static;
  }
  .row {
    p {
      font-size:1rem;
    }
    @include two_one;
    justify-content:flex-end;
    align-items:flex-start;
    > div:last-child {
      strong {
        display:block;
        margin-bottom:1em;
        font-size:1.1rem;
        font-family:$sys;
      }
      float:right;
    //  margin-bottom:1.5em;
    }
    > div:first-child {

    }

    > div:last-child {
          @media (max-width:$tablet-down) {
            padding-bottom:30px;
            > *:last-child {
              margin-bottom:100px;
            }
          }
    }
  }
}

#blueprint {
  @include pad($small);
}
